@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');



/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}

.container{
  margin-top:20px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 8px #888888;
}
.pos{
  justify-content: center;
  font-family: "Gill Sans Extrabold", cursive;
  font-style: oblique;
  font-size: 45px;
}
.row {
  flex: 60%;
}

.column {
  display: flex;
  justify-content: center
}
.q {
  margin-top: 80px;
  margin-right: 50px;
  font-size: 27px;
  font-family: "Times New Roman", Times, serif;
  font-style: oblique;
}
.p {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 190px;
}
.how-section1{
  margin-top:-15%;
  padding: 10%;
}
.how-section1 h4{
  color: #ffa500;
  font-weight: bold;
  font-size: 45px;
}

.how-section1 .row
{
  margin-top: 10%;
}
.how-img 
{
  text-align: center;
}
.how-img img{
  width: 40%;
}
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  font-size: 27px;
  font-family: "Times New Roman", Times, serif;
  font-style: oblique;
}

.jumbotron {
    height: 70vh;
    background-image: url('/home/riya/Pictures/sdl/bkg.jpg');
    background-size: cover;
    background-position: center;
    color:#fff;
}
.navbar {
    min-height: 80px;
  }
  
  .navbar-brand {
    padding: 0 450px;
    height: 80px;
    line-height: 80px;
    color: rgb(148, 148, 156);
    justify-content: right;
  }
  
  .navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
  }
  
  @media (min-width: 768px) {
    .navbar-nav > li > a {
      /* (80px - line-height of 27px) / 2 = 26.5px */
      padding-top: 26.5px;
      padding-bottom: 26.5px;
      line-height: 27px;
      color: rgb(171, 171, 177);
      font-family: URW Chancery L, cursive;
      font-style: oblique;

    }
  }

/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('/home/riya/Pictures/sdl/bkg.jpg?test=1');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





}
.wrimagecard{	
margin-top: 0;
  margin-bottom: 1.5rem;
  text-align: left;
  position: relative;
  background: #fff;
  box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
  border-radius: 10px;
  transition: all 0.3s ease;
  border:1px solid;
}
.wrimagecard .fa{
position: relative;
  font-size: 70px;
}
.wrimagecard-topimage_header{
padding: 20px;
}
a.wrimagecard:hover, .wrimagecard-topimage:hover {
  box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
}
.wrimagecard-topimage a {
  width: 100%;
  height: 100%;
  display: block;
}
.wrimagecard-topimage_title {
  padding: 20px 24px;
  height: 80px;
  padding-bottom: 0.75rem;
  position: relative;
}
.wrimagecard-topimage a {
  border-bottom: none;
  text-decoration: none;
  color: #525c65;
  transition: color 0.3s ease;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/



