    <link href="/css/home.css" rel="stylesheet">

  <div class="jumbotron"> </div>
        <div class="column">
            <div class="bg-text">
              <p>Have you ever wondered what's going on in your WhatsApp groups?</p>
              <p>Well, text mining and data analysis might help you find out! You may easily</p>
              <p>discover who's the #1 texter or at what time of the day you send out the most</p>
              <p>text messages. You can even analyse sentiments of your texts.</p>
            
            </div>
        </div>

<!--- Three Column Section -->
<div class="how-section1">
    <div class="row">
        <div class="col-md-6 how-img">
             <img src="/images/line.jpg" style="width:350px;height:300px;"/>
        </div>
        <div class="col-md-6">
            <a href="chat_frequencies" class="text-muted"><h4>Find out at what time do you text most</h4></a>
                 <p class="text-muted" style="font-size:18px">Here, with the help of python data analysis tools you can find out at what time of the day you send out most text messages</p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <a href="/mostchatted" class="text-muted"><h4>Find the top most texters  </h4></a>
                <p class="text-muted" style="font-size:18px">Here, with the help of text mining, you can find out of all the people you chat with, whom do you text the most</p>
        </div>
        <div class="col-md-6 how-img">
            <img src="/images/bar.jpg"  style="width:350px;height:300px;"/>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6 how-img">
            <img src="/images/pie.png" style="width:350px;height:300px;"/>
        </div>
        <div class="col-md-6">
            <a href="/sentiments" class="text-muted"><h4>Find sentiments of your chats</h4></a>
        <p class="text-muted" style="font-size:18px">Here, using sentiment analysis and opinion mining, you can find out the positive,negative and neutral percentage of your chats.</p>
        </div>
    </div>
</div>
